<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Blog</title>
  </head>
  <body>
    <div class="container m-5">
      <h1 class="mb-5">Student Dashboard</h1>
      <a href="/articles/new" class="btn btn-success">Add Student</a>

      <% articles.map(article=>{ %>
      <div class="card mt-4">
        <div class="div card-body">
          <h4 class="card-title">Student name : <%= article.studentname %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%=article.createdAt %>
          </div>
          <div class="card-text mb-2">ID: <%=article._id %></div>
        </div>
        <div class="d-flex text-center p-3">
          <a class="btn btn-primary btn-sm mr-1" href="articles/<%=article.id%>"
            >Read more</a
          >
          <a class="btn btn-dark btn-sm mr-1" href="#">Edit</a>
          <a class="btn btn-danger btn-sm" href="#">Delete</a>
        </div>
      </div>
      <%})%>
    </div>
  </body>
</html>
