<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Blog</title>
  </head>
  <body>
    <div class="m-5 p-5">
      <a class="btn btn-dark btn-sm text-light" href="/articles">
        Back to home
      </a>
    </div>
    <div class="container text-center">
      <h1 class="mb-4"><%= article.title %></h1>
      <h3><%=article.description %></h3>
      <h5><%=article.description %></h5>
    </div>
  </body>
</html>
